
    <header class="header">
        <h1 class="title">Pizza is <span>Italy</span></h1>
      <nav class="navigation">
        <ul class="nav-list">
          <section class="welcome">
           <li class="list-item">
            <i class="fa-solid fa-house"></i><a href="" class="nav-link">Welcome </a>
          </li>

        </section>
          <section class="user-navigation">
            <li class="list-item">
                <i class="fa-solid fa-caret-down"></i
                ><a href="" class="nav-link">Our Menu</a>
              </li>
            <li class="list-item"><i class="fa-solid fa-chalkboard-user"></i>
                <a href="" class="nav-link">About Us</a>
              </li>
            <li class="list-item"><i class="fa-solid fa-address-book"></i>
                <a href="" class="nav-link">Contacts</a>
              </li>
              <li class="list-item"><i class="fa-solid fa-right-to-bracket"></i>
                <a href="" class="nav-link">Login/Register</a>
              </li>
              <li class="list-item"><i class="fa-solid fa-user"></i><a href="" class="nav-link">Profile</a></li>

          </section>
             </ul>
      </nav>
    </header>
    <main class="main-sec"><article class="img">
     <img class="main-img-bg" src="../../../images/pizza is ITALY.jpeg" alt="">
    </article></main>



