<section class="profile">
  <ul class="nav-menu">
    <li class="list-item-menu">
      <!-- <a
        href={"/my-pizzas-profile"}
        class="link-menu"
        mypizzas={<Mypizzas />}
      >
        MY PIZZAS
      </a>
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>
    <li class="list-item-menu">
      <a href="/my-orders"
       class="link-menu"
       myorders={<Myorders/>}
       >
        MY ORDERS
      </a> -->
      <i class="fa-solid fa-arrow-right-long"></i>
    </li>
    </ul>

</section>
